@import url("https://fonts.googleapis.com/css?family=Chewy");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Chewy", sans-serif;
  background: #000;
}

div {
  position: relative;
  z-index: 1;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 7em;
/*     color: #fff; */
/*   opacity: 0.2; */
  filter: blur(1px);
  fill: none;
}

ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

ul li {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  list-style: none;
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(5px);
}

ul li:nth-child(odd) {
  animation: animateOdd 6s linear 3;
}
@keyframes animateOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  60% {
    opacity: 1;
  }
  100% {
    transform: translate(300px, -600px) scale(16);
    opacity: 0.3;
  }
}

ul li:nth-child(even) {
  animation: animateEven 6s linear 3;
}
@keyframes animateEven {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(-300px, -600px) scale(16);
    opacity: 0.3;
  }
}

ul li:nth-child(1) {
  animation-delay: 0s;
  background: #FF0000;
}
ul li:nth-child(2) {
  animation-delay: 1s;
    background: #FF4500;

}
ul li:nth-child(3) {
  animation-delay: 2s;
  background: #FFD700;
}
ul li:nth-child(4) {
  animation-delay: 3s;
  background: #FF00FF;
}
ul li:nth-child(5) {
  animation-delay: 4s;
  background: #9400D3;
}
ul li:nth-child(6) {
  animation-delay: 5s;
  background: #00FF00;
}

